<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<div th:replace="~{blocks/navbar :: navbar}"></div>

<h3 class="text-center my-3 border-bottom pb-2 mb-4 text-black border-bottom border-warning">Изменить профиль</h3>

<div class="container">

    <th:block th:if="${success}">
        <div th:text="${success}" class="alert alert-success text-center fw-semibold fst-italic" role="alert">        </div>
    </th:block>

    <th:block th:if="${error}">
        <div th:text="${error}" class="alert alert-danger text-center fw-semibold fst-italic" role="alert">        </div>
    </th:block>

    <div class="bg-body-tertiary p-5 rounded mt-3 border">

        <div class="row g-3">
            <div class="col-sm-12">
                <label for="username" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="username" disabled placeholder="" th:value="${username}"
                       required>
            </div>

            <button class="btn btn-primary btn-sm col-12" id="change-username">Изменить имя пользователя</button>

            <form th:action=@{'/profile/edit/'}>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" disabled id="email">
                </div>
            </form>

            <div class="modal fade" id="email-edit" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Изменение email</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Для изменения вашего email вы должны ввести что то
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary btn-sm col-12" data-bs-toggle="modal" data-bs-target="#email-edit"
                    id="change-email">Изменить email
            </button>

<!--todo сделать хваталку ошибок в и регистре и в логине тоже-->
            <div class="modal fade" id="password-edit" tabindex="-1" aria-labelledby="passwordModelLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="passwordModelLabel">Изменение пароля</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{'/profile/edit/password'}" method="post">
                            <div class="modal-body">
                                <label for="old-password" class="col-form-label">Ваш старый пароль</label>
                                <input required minlength="5" type="password" name="old-password" id="old-password" class="form-control mb-3"
                                       placeholder="Введите старый пароль">

                                <label for="new-password" class="col-form-label">Ваш новый пароль</label>
                                <input required minlength="5" type="password" name="new-password" id="new-password" class="form-control mb-3"
                                       mb-3 placeholder="Введите новый пароль">

                                <label for="confirm-new-password" class="col-form-label">Повторите новый пароль</label>
                                <input required minlength="5" type="password" name="confirm-new-password" id="confirm-new-password"
                                       class="form-control" placeholder="Подтвердите новый пароль">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <a class="btn btn-warning btn-lg my-4 col-12" data-bs-toggle="modal" data-bs-target="#password-edit"
               id="password-edit-button" href="#">Изменить пароль</a>

            <!--TODO Сделать нормально-->

        </div>
    </div>
</div>


</body>
</html>
