<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-primary" aria-current="page" href="/">Главное</a>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/topics">Топики</a>
                <li class="nav-item">
                    <a class="nav-link active text-info text-decoration-none" aria-current="page" href="/faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-info text-decoration-none" aria-current="page" href="/login">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-info text-decoration-none" aria-current="page" href="/register">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>